# Импорт основных библиотек и датасета

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# graph
import networkx as nx
from pyvis.network import Network

In [2]:
PATHES = ["./with_closed_ations_as________select_app_2018_X5_STORES.csv", "./with_closed_ations_as________select_app_2019_X5_STORES.csv", "./with_closed_ations_as________select_app_2020_X5_STORES.csv"]
# df = pd.read_csv(PATH)
df = pd.DataFrame()
for path in PATHES:
    df1 = pd.read_csv(path)
    df = pd.concat([df, df1])
    
df['action_date'] = pd.to_datetime(df['action_date'])
df = df[df['position_name'] == 'Продавец-кассир']

C:\Users\Dmitry\AppData\Roaming\Python\Python37\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (6,7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

# Расчет TTH

In [3]:
df["is_active_action"] = df.is_active_action.replace({True: 1, False: 0})
df["is_open_action"] = df.is_open_action.replace({True: 1, False: 0})

df = df[df['is_active_action'] == 1]

print('Сортируем по аппликантам и по времени')
df.sort_values(by=['id_applicant','action_date'], ascending = [False,True], inplace = True)
df.reset_index(drop = True, inplace = True)

print('Расчет action_time')
indexes = pd.RangeIndex(len(df) - 1)
df['action_time'] = (df.iloc[indexes + 1]['action_date'].reset_index(drop = True) - df['action_date']).dt.total_seconds()/60/60/24 # In days
df['action_time'].iloc[df[df['id_applicant'] !=  df.iloc[indexes+1].append({'id_applicant': 0}, ignore_index = True)['id_applicant'].reset_index(drop = True)].index] = None

print('Отделяем принятых кандидатов') 
df['is_fits'] = 0
df.loc[df['result_name'] == 'Принят', 'is_fits'] = 1
applicants_fits =  df.groupby(['id_applicant'])['is_fits'].sum()
df_fits = df[df['id_applicant'].isin(applicants_fits[applicants_fits > 0].index)].reset_index()
df_fits = df_fits[df_fits['is_active_action'] == 1]

print('Оставляем последнего аппликанта на партнера')
df_fits['Date_int'] = df_fits['action_date'].values.astype('int64')
partner_applicant =  df_fits.groupby(['id_partner','id_applicant'])['Date_int'].max().reset_index()
amount_applicant =  partner_applicant.groupby(['id_partner'])['Date_int'].max().reset_index()
partner_applicant = partner_applicant[partner_applicant['Date_int'].isin(amount_applicant['Date_int'])]
df_fits = df_fits[df_fits['id_applicant'].isin(partner_applicant['id_applicant'])].reset_index(drop = True)

print('Ищем первое принят')
applicant_min =  df_fits.groupby(['id_applicant'])['action_date'].min().reset_index()
fits_min =  df_fits[df_fits['result_name'] == 'Принят'].groupby(['id_applicant'])['action_date'].max().reset_index()

print('Обнуляем время стадий после принятия')
df_fits.loc[df_fits['action_date'].isin(fits_min['action_date']) & (df_fits['action_time'].notna()), 'after_fit'] = 1
while True:
    after_indexes = df_fits[(df_fits['action_time'].notna())& (df_fits['after_fit'] == 1)].index
    after_fit_mask = (df_fits.index.isin(after_indexes + 1) & (df_fits['action_time'].notna())) & df_fits['after_fit'].isna()
#     print(len(df_fits.loc[after_fit_mask]))
    if len(df_fits.loc[after_fit_mask]) == 0:
        break
    df_fits.loc[after_fit_mask, 'after_fit'] = 1
df_fits.loc[df_fits['after_fit'] == 1, 'action_time'] = 0

print('Обнуляем время в результатах без предсказуемой последующей обработки')
results_empty = ['Резерв', 'Не подходит', 'Не принят', 'Отказ кандидата', 'Отказ руководителя', 'Принят', 'Кадровый резерв']
for res in results_empty:
    df_fits.loc[(df_fits['result_name'] == res) & df_fits['action_time'].notna(), 'action_time'] = 0
df_fits.loc[(df_fits['stage_name'] == 'Создание кандидата') & df_fits['action_time'].notna(), 'action_time'] = 0

Сортируем по аппликантам и по времени
Расчет action_time

C:\Users\Dmitry\AppData\Roaming\Python\Python37\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

Отделяем принятых кандидатов
Оставляем последнего аппликанта на партнера
Ищем первое принят
Обнуляем время стадий после принятия
Обнуляем время в результатах без предсказуемой последующей обработки

In [4]:
df_tth =  df_fits.dropna(subset=['action_time']).groupby(['id_applicant', 'id_partner', 'department_id'])['action_time'].sum().reset_index()
df_tth.rename(columns={"action_time": "TTH"}, inplace = True)
df_tth

        id_applicant  id_partner  department_id        TTH
0            2196746     2393754           6715  27.685659
1            2196747     2314693          12252   6.133310
2            2196748     2346300           5760  28.251127
3            2196752     2393757          32391  17.202996
4            2196753     2393758          32156  10.153854
...              ...         ...            ...        ...
193762       4886560     1197774          35106   0.000151
193763       4886575     1542748          28162   0.000176
193764       4886579     3878216          10530   0.000182
193765       4886599     3884467          48259   0.000218
193766       4886615     1040329          27473   0.000166

[193767 rows x 4 columns]

In [5]:
df_tth_dep =  df_fits.dropna(subset=['action_time']).groupby(['id_applicant', 'department_id'])['action_time'].count().reset_index()
df_tth_dep = df_tth_dep.groupby(['department_id']).agg({'id_applicant':'count', 'action_time':'median'}).reset_index()
df_tth_dep.rename(columns={"id_applicant": "applicants","action_time": "TTH_median"}, inplace = True)
df_tth_dep

       department_id  applicants  TTH_median
0               5637          10         9.5
1               5638           4         9.0
2               5639          20        12.0
3               5640           6        12.5
4               5641           8         9.0
...              ...         ...         ...
15545          49707           2        13.5
15546          49711           9         9.0
15547          49722           5         9.0
15548          49734           2         9.0
15549          49859           1         9.0

[15550 rows x 3 columns]